* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #root {
  display: flex;
  max-width: 800px;

  align-items: center;
  margin: 0 auto;
  border: 1px solid red;
} */

#players {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

#questions-container {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
